<div class="container-2">
    <div class="about">
        <div class="aboutHeading">
            <p>About</p>
        </div>
        <p class="aboutContent">
            We are writing renewable energy news and information on solar energy, wind
            energy, hydropower, geothermal energy, bioenergy and more.
            Find the best energy news, articles, research,
            conferences and more.
        </p>
    </div>
</div>
<div class="container-3">
    <div class="articles">
        <h2 id="newArticles">New Articles</h2>
    </div>
</div>